:root {
    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --dark_cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --primary_font: "Montserrat";
    --secondary_font: "Fraunces";
}

/*this forces thhe elements in the body to be in the center of the page*/
body{
    background-color: var(--cream);
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.cart-button:hover{
    cursor: pointer;
    /*This reduces the brigtness of the background-color only*/
    background-image: linear-gradient(rgb(0 0 0/50%)0 0);
}

footer{
    margin-top: 0.625rem;
}

.attribution{
    font-size: 0.75rem;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}


/*website responsiveness for screen size of at least 896px in width*/
@media screen and (min-width: 896px){
    
    
    .big-box{
        display: flex;
        background-color: var(--white);
        width: 43.75rem;
        height: 34.375rem;
        border-top-right-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
    }
    
    .image-area{
        height: 34.375rem;
    }
    
    .image-product-desktop{
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
        max-height: 100%;
    }

    .image-product-mobile{
        display: none;
    }
    
    .info-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 2.5rem;
    }
    
    .text-area-top{
        font-weight: 700;
        color: var(--dark_grayish_blue);
        letter-spacing: 0.313rem;
        text-transform: uppercase;
    }
    
    .text-area-top, .text-area-bottom{
        font-family: var(--primary_font);
    }
    
    .text-area-middle h1, .price-info h1{
        font-family: var(--secondary_font);
    }
    
    .text-area-middle h1{
        padding-right: 3.125rem;
    }
    
    .text-area-bottom p, .text-area-top p{
        font-family: var(--primary_font);
    }
    
    .text-area-bottom p{
        font-size: 0.875rem;
        padding-right: 1.25rem;
        line-height: 1.563rem;
        font-weight: 500;
        color: var(--dark_grayish_blue);
        margin: 0;
    }
    
    .price-info{
        display: flex;
        align-items: center;
        justify-content: left;
        font-family: var(--secondary_font);
        color: var(--dark_cyan);
        margin-bottom: 0.625rem;
    }
    
    .price-info p{
        padding-left: 1.25rem;
        font-size: 0.875rem;
        text-decoration: line-through;
        color: var(--dark_grayish_blue);
    }
    
    .cart-button{
        background-color: var(--dark_cyan);
        color: white;
        padding: 0.938rem 4.375rem;
        font-size: 0.875rem;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .cart-button img{
        padding-right: 0.313rem;
    }
}


/*website responsiveness for screen size of not more than 896px in width*/
@media screen and (max-width: 896px){
    .big-box{
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        width: 20.938rem;
        height: 38.75rem;
        border-radius: 0px 0px 0.625rem 0.625rem;
        margin-top: 1.25rem;
    }

    .image-area{
        max-width: 100%;
        max-height: 50%;
    }

    .image-product-desktop{
        display: none;
    }


    .image-product-mobile{
        border-radius: 0.625rem 0.625rem 0 0;
        max-width: 100%;
    }
    
    .info-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 1.25rem;
        
    }

    .text-area-top{
        font-weight: 700;
        color: var(--dark_grayish_blue);
        letter-spacing: 0.313rem;
        text-transform: uppercase;
    }
        
    
    .text-area-top, .text-area-bottom{
        font-family: var(--primary_font);
    }

    .text-area-top{
        font-weight: 700;
        color: var(--dark_grayish_blue);
        letter-spacing: 0.313rem;
        text-transform: uppercase;
    }
    
    .text-area-top, .text-area-bottom{
        font-family: var(--primary_font);
        font-size: 0.75rem;
    }

    .text-area-middle h1, .price-info h1{
        font-family: var(--secondary_font);
    }
    
    .text-area-middle h1{
       font-size: 1.875rem;
       font-weight: 43.75rem;
       padding: 0;
    }
    
    .text-area-bottom p{
        font-size: 0.875rem;
        padding-right: 0px;
        line-height: 1.563rem;
        font-weight: 500;
        color: var(--dark_grayish_blue);
        margin: 0;
    }
    
    .price-info{
        display: flex;
        align-items: center;
        justify-content: left;
        font-family: var(--secondary_font);
        color: var(--dark_cyan);
        margin-bottom: 0;
    }
    
    .price-info p{
        padding-left: 1.25rem;
        font-size: 0.875rem;
        text-decoration: line-through;
        color: var(--dark_grayish_blue);
    }
    
    .cart-button{
        background-color: var(--dark_cyan);
        color: white;
        padding: 0.938rem 3.125rem;
        font-size: 0.875rem;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart-button img{
        padding-right: 0.313rem;
    }

    footer{
        margin-top: 0.625rem;
    }
}