:root {
    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --dark_cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --primary_font: "Montserrat";
    --secondary_font: "Fraunces";
}

body{
    background-color: var(--cream);
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.cart-button:hover{
    cursor: pointer;
    /*This reduces the brigtness of the background-color only*/
    background-image: linear-gradient(rgb(0 0 0/50%)0 0);
}

footer{
    margin-top: 1rem;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 896px){
    .big-box {
        background-color: var(--white);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "box1"
            "box2"
        ;
        max-width: 20.938rem;
        min-height: 37rem;
        border-radius: 0.625rem;
    }

    .box1 {
        margin: 0;
        grid-area: box1;
    }

    .box2 {
        margin: 0;
        grid-area: box2;
    }

    .image-area{
        max-width: 100%;
        max-height: 50%;
    }

    .image-product{
       max-width: 100%;
       border-radius: 0.625rem 0.625rem 0 0;
    }

    .info-area{
        display: flex;
        flex-direction: column;
      
        padding-inline: 1.25rem;  
    }

    .text-area-top{
        font-weight: 700;
        color: var(--dark_grayish_blue);
        letter-spacing: 0.313rem;
        text-transform: uppercase;
        margin-top: 0;
    }

    .text-area-top, .text-area-bottom{
        font-family: var(--primary_font);
        font-size: 0.75rem;
    }

    .text-area-middle, .new-price-info{
        font-family: var(--secondary_font);
        font-size: 1.875rem;
        font-weight: 700;
    }

    .text-area-middle{
        padding: 0;
        margin-block: 0.5rem;
    }

    .text-area-bottom{
        font-size: 0.875rem;
        line-height: 1.563rem;
        font-weight: 500;
        color: var(--dark_grayish_blue);
        margin: 0;
    }

    .price-info{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .old-price-info{
        padding-left: 1.25rem;
        font-size: 0.875rem;
        font-family: var(--primary_font);
        color: var(--dark_grayish_blue);
    }

    .new-price-info{
        color: var(--dark_cyan);
    }

    .cart-button{
        background-color: var(--dark_cyan);
        color: white;
        padding: 0.938rem 3.125rem;
        font-size: 0.875rem;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    .cart-button img{
        padding-right: 0.313rem;
    }
}

@media screen and (min-width: 896px){
    .big-box {
        background-color: var(--white);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "box1 box2"
        ;
        max-width: 43.75rem;
        max-height: 35rem;
        border-radius: 0.625rem;
    }

    .box1 {
        margin: 0;
        grid-area: box1;
    }

    .box2 {
        margin: 0;
        grid-area: box2;
    }

    .image-area{
        max-height: inherit;
    }

    .image-product{
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
        max-height: 100%;
    }

    .info-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 2.5rem;
    }

    .text-area-top{
        font-weight: 700;
        color: var(--dark_grayish_blue);
        letter-spacing: 0.313rem;
        text-transform: uppercase;
    }

    .text-area-top, .text-area-bottom{
        font-family: var(--primary_font);
    }

    .text-area-middle, .new-price-info{
        font-family: var(--secondary_font);
        font-size: 1.875rem;
        font-weight: 700;
    }

    .text-area-middle{
        padding-right: 3.125rem;
    }

    .text-area-bottom{
        font-size: 0.875rem;
        padding-right: 1.25rem;
        line-height: 1.563rem;
        font-weight: 500;
        color: var(--dark_grayish_blue);
        margin: 0;
    }

    .price-info{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-block: 2rem;
    }

    .new-price-info{
        color: var(--dark_cyan);
    }

    .old-price-info{
        padding-left: 1rem;
        font-size: 0.875rem;
        color: var(--dark_grayish_blue);
    }

    .cart-button{
        background-color: var(--dark_cyan);
        color: white;
        padding: 0.938rem 4.375rem;
        font-size: 0.875rem;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .cart-button img{
        padding-right: 0.313rem;
    }
}
